<%reviews.forEach((review) => { %>
  <div class="box">

    <div class="row sp-btwn center-vertically">
      <a href="/albums/<%= review.album_id %>"><h2><%= review.title %></h2></a>
      <% if(review.star_rating){ %>
        <h3>Stars: <%= review.star_rating %></h3>
      <% } %>
      <h3><%= moment(review.date_created).format("MMM Do YYYY") %></h3>
      <% if (review.user_id === userId) { %>
        <img src="/pictures/trash.png" alt="delete" class="delete-review" data-review-id='<%= review.id %>'>
      <% } %>
    </div>

    <p><%= review.content %></p>

    <p>by <a href="/users/<%= review.name %>"><%= review.name %></a></p>

  </div>
<% }) %>
