<title>Vinyl : <%= reviews[0].name %>'s Profile</title>

<%- include ../partials/header.ejs %>

<div class="row sp-btwn">

  <div class="one-third">
    <img src="<%= reviews[0].photo %>" alt="User's profile photo">
  </div>

  <div class="two-thirds">
    <h1><%= reviews[0].name %></h1>
    <div class="row sp-btwn">
      <h3>Email</h3>
      <h3><%= reviews[0].email %></h3>
    </div>
    <div class="row sp-btwn">
      <h3>Date Joined</h3>
      <h3><%= reviews[0].join_date %></h3>
    </div>

    <% if(reviews[0].content){ %>
      <%- include ../partials/reviews.ejs %>
    <% } else { %>
      <div class="box">
        <p>This user has not written any reviews</p>
      </div>
    <% } %>

      <!-- <div class="box">
        <p>This user has not written any reviews</p>
      </div> -->

  </div>


</div>

<%- include ../partials/footer.ejs %>
